# Exemplo de variáveis de ambiente
APP_ENV=development
DATABASE_URL=postgresql://usuario:senha@localhost:5432/revenda_argamassa
SECRET_KEY=altere-esta-chave
API_KEY=altere-esta-chave-api
APP_HOST=127.0.0.1
APP_PORT=5000
